/* Custom Styles */
body {
    font-family: 'Arial', sans-serif;
}

#about-us, #services {
    padding: 60px 0;
}

#testimonials .card, #doctors .card {
    max-width: 300px;
    margin: 0 auto;
}

.carousel-item img {
    max-height: 370px;
    object-fit: cover;
}

@media (max-width: 768px) {
    #welcome .order-lg-1 {
        order: 2 !important;
    }
    #welcome .order-lg-2 {
        order: 1 !important;
    }
}
